/*
	Put your custom CSS here
*/


.primary{
	position: absolute;
	left:0;
	z-index: 2;
}

.secondary{
	z-index: 1;
	-webkit-transform:rotateY(180deg);
}

.portfolio-item:hover .primary{
	-webkit-transform:rotateY(180deg);
}

.portfolio-item:hover .secondary{
	-webkit-transform:rotateY(360deg);
}

.primary, .secondary{
	-webkit-transition: -webkit-transform 1s ease-in-out;
}
